body {
    background-color:rgb(30, 30, 73);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: rgb(209, 231, 239);
    align-self: center;
    border: 5px solid white;
    padding: 7px;
    margin: 2px;
}

.navbar ul{
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
}

.navbar a {
    text-decoration: none; 
    color: navy;
    padding: 10px; 
}

main {
    grid-area: main;
    background-color: rgb(209, 231, 239);;
    border: 5px solid white;
    padding: 10px;
    margin: 2px;
}

aside {
    grid-area: sidebar;
    background-color: rgb(209, 231, 239);;
    border: 5px solid white;
    padding: 5px;
    margin: 2px;
}

footer {
    grid-area: footer;
    background-color: rgb(209, 231, 239);
    border: 5px solid white;
    padding: 5px;
    margin: 2px;
}

input,
button {
    font-size: 24px;
    margin-left: 10px;
}

h1 {
    color: navy;
    font-size: 3em;
    text-align: center;
}

p {
    color: black;
}

form {
    padding: 2px;
    margin: 2px;
}

.resultscontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    padding: 10px;
}

.formcontainer{
    display: grid;
    grid-template-columns: auto auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 500px) {
    .navbar ul{
        list-style-type: none;
    }

    body {
        background-color:rgb(30, 30, 73);
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "sidebar footer";
    }

    aside,
    main {
        height: 100vh;
    }
}